* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;    
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

/* imagen de la laptop */
.laptopPic {
  width: 11rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.laptopPic1 {
  width: 11rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

/* input del email */
#email {
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
}

/* input del password */
#password {
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
}

/* Seccion SignIn y SignUp en el html*/
#logIn {
  background: linear-gradient(#FFFFFF, #F4A82C);
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 2rem;
}
.headerUserName {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}
.headerPost {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

/*section donde esta el email, password y el boton*/
.formContainer {
  flex-direction: column;
  align-items: center;
}

/*Bton Sign tanto signIn como signUp*/
.btnSign {
  border-radius: 2rem;
  padding: 0.5rem 3rem;
  align-content: center;
  background-color: #3376BC;
  margin: 1rem;
  color: #FFFFFF;
  cursor: pointer;
}

/*el input y label de google*/
#googleInput {
  display: none;
}

/* PORQUE LA IMAGEN EN PREVIEW ERA GRANDE Y DEFORMADA */
.homePublicationContainer img {
  border: none;
  width: 80%;
  height: 40%;
}

.circlePink img{
  width: 2rem;
  height: 1.5rem;
  margin: .1rem auto;
  /* margin: 0;
  width: 2rem;
  height: 2rem;  */
}

/* Icon imagen */
.circle img {
  width: 2rem;
  height: 1.3rem;
  margin: .3rem auto;
}
.likes img{
  width: 2rem;
  height: 1.5rem;
  margin: 0;
}

/* TRASH IMG */
.figureContainerIcons label img{
  width: 2rem;
  height: 1.5rem;
  margin: .4rem auto;
}


#googleIcon img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

li a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #292929;
  font-size: 1rem;
}

/* anchor Registrate o logueate del SignIn/SignUp*/
p span a {
  color: #FFFFFF;
  font-weight: bold;
}

/*clase creada dinamicamente para albergar las 3 secciones del home*/
.homeContainer {
  background-color: #FFFFFF;
  height: 100vh;
  display: flex;  
  flex-direction: column;
}

/*box donde esta la foto y el nombre del usuario*/
.homeAvatarContainer {
  border: 1px solid #292929;
  margin: 2rem 3rem;
  align-content: space-between;
}

/*franja amarilla sobre el nombre y foto del usuario*/
.headerHomeAvatar {
  background-color: #F4A82C;
  padding: 1rem;
}

.imageAvatar {
  width: 20vw;
  padding-top: 1rem;
}


/*nombre del usuario*/
#myUserName {
  font-weight: bold;
  
}

/* MAIN SECTION DE PUBLICACIONES */
#comentarios {
  margin: 0 auto;
}
/*home publication section*/
.homePublicationContainer {
  /* border: 1px solid white; */
  width: 85%;
  display: flex;
  flex-direction: column;
  overflow-block: 1rem;
  margin: 0 auto;
}
.sharePublicationBox {
  border: 1px solid #aaaaaa;
  height: 99%;
  border-radius: .5rem;
}
.who{
  background-color: aquamarine;
}
/* Textare para compartir en publicacion*/
.homePublicationContainer textarea {
  margin: 1rem auto;
  margin-bottom: 0;
  border: 1px solid #aaaaaa;
  border-radius: .3rem;
  width: 85%;
  height: 5rem;
  padding: 5%;
  /* max-width: 50%; */
}

.footerPost {
  background-color: #91BBE5;
  height: 2rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.showCircle {
  border: none;
  background-color: #aaaaaa;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  margin: .3rem  auto;
}
.softFont{
  color: #7f8c8d;
}
.likes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid  #F4A82C;
  background-color: #F4A82C;
  border-radius: 2rem;
  width: 4rem;
  height: 2rem;
}

.likes input{
  display: none;
}
/*franja azul donde esta la opcion de publicar y si es publico o privado*/

.footerHomePublication {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #91BBE5;
  border: .2rem solid #91BBE5;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  z-index: 3;
}
/* Boton subir Imagen */
.circle{
  border: none;
  background-color: #F4A82C;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  margin: .4rem ;
}


/* Botones SELECT & COMPARTIR */
.footerHomePublication .publicationBtn {
  background-color: #C14D7C;
  border: 1px solid #C14D7C;
  color: white;
  border-radius: 1rem;
  width: 30%;
  height: 10%;
  text-align: center;
  padding: .1rem;
  margin: .6rem  auto;
}

.postSection {
  width: 80%; 
}
/* MAIN SECTION DE PUBLICACIONES ECHAS */
.publicationSection { /* centrar section de comentarios */
  /* width: 80%; */
  border: 1px solid #aaaaaa;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
}

.publicationSection header {
  background-color: #3376BC;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: flex-end;
  border: 2px solid #3376BC; 
}

/* SELECT BOTON  */
.publicOrPrivateSelector {
  width: 4rem;
  height: 2rem;
  background-color:  #3376BC;
  color: white;
  margin: .2rem auto;
}

/* TRASH BOTON */
.figureContainerIcons {
  border: 1px solid #E3E9EF;
  background-color: #E3E9EF;
  border-radius: 2rem;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 .1rem;
}

.figureContainerIcons input {
display: none;
}

/* NAME OF THE PERSON WHO MADE THE PUBLICATION */
.nameTitlePublication {
  color: white;
  width: 100%;

  /* margin: 0 1rem; */

}
/* SECTION DE ICONOS DE LA PUBLICACION */
/* .notesIcons {
  background-color: #91BBE5;
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  /* height: 30%; *
} */
/* .headerUserName {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
} */

/* .headerPost {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
} */

/* CONTAINER DEL TEXTO PUBLICADO */
.notes {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
 
}
/* SECTION DE ICONOS DE LA PUBLICACION */
.notesIcons {
  background-color: #91BBE5;
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
padding: .3rem;

  /* height: 30%; */
}
.cambioBtn{
  height: 20%;
  border: none;
  background-color: #C14D7C;
  border-radius: .5rem;
  color: #f2f2f2;
  padding: .3rem;
  margin: 0 .5rem;
}

/* IMAGENES DE LOS ICONS EN PUBLICACION */
.iconImg{
  width: 2rem;
  height: 1.5rem;
  margin: .2rem auto;
  /* margin: 0;
  width: 2rem;
  height: 2rem;  */
}
.displayNone{
  display: none;
}
/* TODO LA SECTION DE COMENTARIOS */
.comment {
  margin: .4rem .4rem;
  display: flex;
  flex-direction: column;
}
/* SECTION DEL COMENTARIO PUBLICADO */
.userComentDone {
  display: flex;
  background-color: #FFC86D;
  border: 1px solid #FFC86D;
  border-radius: 1.5rem;
  margin: .3rem 0;
  height: 4rem;
}
 
/* COMENTARIO Y NOMBRE EN COLUMNA FLEX PROPERTY */
.flexColumn{
  margin: .4rem .4rem;
  width: 70%;
  flex-direction: column;
  align-content: space-around;
}
/* NOMRE DEL USURIO QUE COMENTO */
h5 {
  text-align: left;
  padding: .2rem;
  height: 1rem;
}
.textComent {
  padding: 5%;
  font-size: 1rem;

}
/* COMENTARIO */
.flexColumn p {
  text-align: left;
  padding: .3rem;
  width: 100%;
  height: 60%
}
/* ICONOS DENTRO DEL COMENTARIO */
.icons {
  display: flex;
  width:  40%;
  height: 30%;
  margin: 1.5rem .3rem;
  justify-content: flex-end;
}
/* CIRCULOS DENTRO DEL COMENTARIO */
/* CIRCULOS DE LOS ICONOS EN PUBLICACION */
.circlePink{
  /* display: none; */
  background-color: #C14D7C;
  border: 1px solid #C14D7C;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  margin:  0.5rem 0.3rem;
}
.publicationSection header select{
  width: 40%;
}
.postedImg {
  padding: 1rem;
  height: 26rem;
}
/* LINEA PLOMA */
.line {
  width: 100%;
  border-top: 1px solid #aaaaaa;
}
/* .footerPost {
  background-color: #91BBE5;
  height: 2rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
} */
/* COMENTARIO INPUT */
.comment input {
  background-color: #FFC86D;
  border: 1px solid #FFC86D;
  border-radius: .5rem;
  height: 1.5rem;
  width: 85%;
  padding: 3%;
  margin: .4rem auto;
}
/*contenedor creado dinamicamente que contiene NAV(menu y educachat)*/
/* .divNav {
  display: flex;
} */

/* menu hamburguesa */
/*input checkbox*/
#btn-menu { 
  display: none;/*para que no se vea el input en la pagina*/
}

/*Header de la vista home*/
.EducaChat {
  color: #FFFFFF;
  padding-bottom: 1rem;
}

/* dimensiones del label que contiene la img icono-menu */
header .labelbtnmenu {
  display: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid #292929;

}

/* estilo al label:cambia de color al hacer hover */
header .labelbtnmenu:hover {
  cursor: pointer;
  background: #F4A82C;
}

/*PROPIEDADES DE UL PARA PODER TRABAJAR DINAMICAMENTE CON <LI>*/
ul{
  display: flex;
  background-color: rgba(173, 173, 173, 0.726); /*color de fondo de los li*/
  margin-top: 0; /*para poder separar la lista del header*/
  flex-wrap: wrap;/*envoltura flexibe*/
  border: 1px solid #292929;
  box-shadow: 0 0 2px rgba(173, 173, 173, 0.726);
}

li{
  font-family: 'Roboto', sans-serif;
  flex-grow: 1;
  text-align: center;
  line-height: 2.5;
  font-size: 1rem;
}

/* estilo a los <li>/animacion*/
li:hover {
  background: #3376BC;
}


/*MODAL DEL PERFIL*/
.flex{
	width: 100%;
	height:100%;
	display: flex;
	justify-content: space-between;
	align-items: center; 
}

/* .textos{
	padding:300px;
	color:#fff;
	text-align: center;
} */

/* h1{
	font-size: 40px;
	margin-bottom:20px;
} */

/* a{
	text-decoration: none;
	font-size:20px;
	display: inline-block;
	padding: 7px;
	width: 220px;
	border:1px solid #fff;
	border-radius: 10px;
	color:#fff;
}
a:hover{background: #000; color:#fff; border:1px solid #000;} */

.modal{
	display: none;
	position: fixed;
	z-index:1;
	overflow: auto;
	left: 0;
	top:0;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, 0.452);
}

.contenido-modal{
	position: relative;
	background-color: #fefefe;
	margin: auto;
	width: 80%;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
	animation-name: modal;
	animation-duration: 1s;
}
@keyframes modal{
	from{top:-330px; opacity:0;}
	to{top:0; opacity:1;}
}
.close{
	color: #f2f2f2;
	font-size:30px;
	font-weight: bold;
}
.close:hover{
	color:#7f8c8d;
	text-decoration: none;
	cursor: pointer;
}

.modal-header, .footer{
	padding: 8px 16px;
	background: #34495e;
	color:#f2f2f2;
}

/* p{
	text-align: justify;
} */

.modal-body{
	padding: 1rem;
}

/* @media screen and (max-width:900px){
	.contenido-modal{
		width: 70%;
	}
	.textos{
		padding: 150px;
	}
}

@media screen and (max-width:500px){
	.textos{
		padding:50px;
	}
} */


/*RESPONSIVE MODO MOBIL/MENU HAMBURGUESA*/
@media (max-width:400px) {
  header{
    background: #F4A82C;
  
  }

  header .labelbtnmenu {
    display: block;
    margin-top: 0;
  }

  .nav-home {
    position:absolute;
    background:rgba(173, 173, 173, 0.726);
    width: 100%;
    margin-left: -100%;
    transition: all 0.5s;
  }

  ul{
    flex-direction: column;
    z-index: 1;
  }

  li {
    border-bottom: inset 0.5px #3376BC;  /*borde solo a la parte superior*/  
  }

  #btn-menu:checked ~ .nav-home {
    margin: 0;
    z-index: 1;
  }
  
}

@media (min-width: 850px) {
  #logIn {
    background-color:#fefefe;
    display: flex;
  }

  .signInForm {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 3rem;
    line-height: 3rem;
  }

  .laptopPic {
    width: 20rem;
    position: absolute;
    margin-top: 20vh;
    margin-bottom: 50vh;
    margin-left: 10vw;
    line-height: 0;
    }

  .laptopPic1 {
    width: 20rem;
    position: absolute;
    margin-top: 25vh;
    margin-bottom: 45vh;
    margin-left: -40vw;
    line-height: 0;
    }

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mainSignIn {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-right: 10vw;
    margin-left: 60vw;
    line-height: 3rem;
    height: 90vh;
  }

  .mainSignUp {
    display: flex;
    flex-direction: column;
    position: absolute;
    line-height: 3rem;
    height: 80vh;

    margin-left: 10vw;
    margin-top: 5rem;

  }

  .homeContainer  {
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
  }
  .homeContainer section {
    justify-content: flex-start;
  }

  .divNav{
    width: 100%;
  }
  .homeAvatarContainer{
    width: 30%;
    margin-right: 60%;
    margin-bottom: -20%;
    /* margin: 2rem 35rem; */
  }
  .homePublicationContainer{
    /* width: 30%; */
    margin-left: 50%;
    width: 40%;
    margin-top: -5%;
  }

  .sharePublicationBox {
    margin-top: -8%;
  }
  ul{
    background-color: #F4A82C;
    margin-bottom: 2rem;
  }
  .EducaChat{
    color: #C14D7C;
    padding: 2rem;
    font-size: 4rem;
  }
  #comentarios {
    margin-top: 1rem;
    width: 50%;
  }
  .publicationSection{
    margin-left: 60%;
    width: 70%;
    border-radius: .5rem ;

  }
}